# ==========================
# macOS
# ==========================
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon?

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
.venv/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs (VS Code, PyCharm / JetBrains)
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# Environment variables & local settings
.env
.env.local
.env.*.local


.venv/
